<!doctype html>

<html lang="en"
			xmlns:th="https://www.thymeleaf.org"
			xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
	
	<script th:replace="~{partials/necessary :: font-aw}"></script>
	<link th:replace="~{partials/necessary :: bs-link}">
	<th:block th:replace="~{partials/necessary :: fonts}"></th:block>
	
</head>
  
<body>

	<div th:replace="~{partials/navs :: navbar}"></div>
	
	<div class="container my-3">
	<!-- Main Content Goes Here -->
		
		
	</div>

	<script th:replace="~{partials/necessary :: bs-script}"></script>
</body>

</html>