<!doctype html>

<html lang="en"
			xmlns:th="https://www.thymeleaf.org">
	
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
   
  <title>Login Page</title>
	
	<script th:replace="~{partials/necessary :: font-aw}"></script>
	<link th:replace="~{partials/necessary :: bs-link}">
	<th:block th:replace="~{partials/necessary :: fonts}"></th:block>
	
</head>
  
<body>

	<nav th:replace="~{partials/navs :: navbar}"></nav>
	
	<div class="container">
	<!-- Main Content Goes Here -->
		
		
	</div>

	<script th:replace="~{partials/necessary :: bs-script}"></script>
</body>

</html>