.help-links {
	text-decoration:none;
	color:black;
}

.subheading {
	background-color: #83C5BE;
	position: relative;
	padding: 24px 12px;
}

.subheading:before {
  content:"";
  background-color: #83C5BE;
  position: absolute;
  height: 100%;
  width: 200vw;
  left: -100vw;
  z-index: -1;
}

.welcome-message {
	font-family: Roboto, sans-serif;
	font-size: 32px;
}

.home-login {
	background-color: #EDF6F9;
	border: 1px #EDF6F9 solid;
	padding: 16px 16px;
	border-radius: 5px;
}

.second-nav-item {
	font-size: 24px;
	width: 150px;
	text-decoration: none;
	color: #000000;
}

.second-nav-item:hover {
	background-color: #006D77;
	color: #ffffff;
}