<!doctype html>

<html lang="en"
	  	xmlns:th="https://www.thymeleaf.org"
	  	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
	<meta charset="utf-8">
 	<meta name="viewport" content="width=device-width, initial-scale=1">
 	<title>OSO Online Banking</title>

	<script th:replace="~{partials/necessary :: font-aw}"></script>
	<link th:replace="~{partials/necessary :: bs-link}"/>
	<th:block th:replace="~{partials/necessary :: fonts}"></th:block>
	<link th:replace="~{partials/necessary :: landing-help}"/>
	
</head>

<body>
	
	<div class="container" id="page">
		<nav th:replace="~{partials/navs :: navbar}"></nav>
		
		<div class="container">
			<th:block sec:authorize="!isAuthenticated()">
				<div class="subheading row justify-content-between align-items-center ">
					<div class="col-4 px-0">
						<div class="welcome-message">
							Cash back on cash just makes sense
						</div>
						<a th:href="@{/}">Start earning</a>
					</div>
					<div class="col-4">
						<div class="home-login">
							<h4 class="text-center">Secure Account Login</h4>
							<form class="home-form" th:action="@{/login}" method="POST">
								<div class="username form-floating mb-3">
							    <input type="text" class="form-control" id="username" name="username">
							    <label for="username" >Username</label>
							  </div>
							  <div class="password form-floating mb-3">
							    <input type="password" class="form-control" id="password" name="password">
							    <label for="password">Password</label>
							  </div>
							  <button type="submit" class="btn btn-primary">Submit</button>
							</form>
						</div>
					</div>
				</div>
				<div id="help">
					<div class="row mb-3">
						<div class="col-6 offset-3 text-center">
							<h3>How can we help?</h3>
						</div>
					</div>
					<div class="row text-center">
						<div class="col-2 offset-md-3 border-end">
							<a th:href="@{/}" class="help-links">
								<span class="row justify-content-center mb-2">
									<span class="col">
										<i class="fa-solid fa-credit-card fa-2xl"></i>
									</span>
								</span>
								<span class="row justify-content-center">
									<span class="col">
										Credit Card
									</span>
								</span>
							</a>
						</div>
						<div class="col-2 border-end">
							<a th:href="@{/}" class="help-links">
								<span class="row justify-content-center mb-2">
									<span class="col">
										<i class="fa-solid fa-building-columns fa-2xl"></i>
									</span>
								</span>
								<span class="row justify-content-center">
									<span class="col">
										Online Banking
									</span>
								</span>
							</a>
						</div>
						<div class="col-2">
							<a th:href="@{/}" class="help-links">
								<span class="row justify-content-center mb-2">
									<span class="col">
										<i class="fa-solid fa-credit-card fa-2xl"></i>
									</span>
								</span>
								<span class="row justify-content-center">
									<span class="col">
										Loan
									</span>
								</span>
							</a>
						</div>
					</div>
				</div>
			</th:block>
			
			<th:block sec:authorize="isAuthenticated()">
				<div class="secondary-nav d-flex flex-row align-items-stretch gap-3">
					<a th:href="@{/}" class="second-nav-item p-2 text-center d-flex flex-column align-items-center justify-content-center">
						<span class="item-icon">
							<i class="fa-solid fa-money-bills"></i>
						</span>
						<span class="item-label">
							Overview
						</span>
					</a>
					<a th:href="@{/}" class="second-nav-item p-2 text-center d-flex flex-column align-items-center justify-content-center">
						<span class="item-icon">
							<i class="fa-solid fa-money-check"></i>
						</span>
						<span class="item-label">
							Accounts
						</span>
					</a>
					<a th:href="@{/}" class="second-nav-item p-2 text-center d-flex flex-column align-items-center justify-content-center">
						<span class="item-icon">
							<i class="fa-solid fa-arrow-right-arrow-left"></i>
						</span>
						<span class="item-label">
							Transfer
						</span>
					</a>
					<a th:href="@{/}" class="second-nav-item p-2 text-center d-flex flex-column align-items-center justify-content-center">
						<span class="item-icon">
							<i class="fa-solid fa-file-invoice"></i>
						</span>
						<span class="item-label">
							Bill Pay
						</span>
					</a>
				</div>
			</th:block>
		</div>
		
	</div>

	<script th:replace="~{partials/necessary :: bs-script}"></script>
	<script th:replace="~{partials/necessary :: jQuery}"></script>
	<script type="text/javascript" th:src="@{/js/layout.js}"></script>
</body>

</html>