<!doctype html>

<html lang="en"
			xmlns:th="https://www.thymeleaf.org"
			xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Registration Page</title>
	
	<script th:replace="~{partials/necessary :: font-aw}"></script>
	<link rel="stylesheet" th:href="@{css/reg-form.css}"/>
	<link th:replace="~{partials/necessary :: bs-link}">
	<th:block th:replace="~{partials/necessary :: fonts}"></th:block>
	
</head>
  
<body>

	<div th:replace="~{partials/navs :: navbar}"></div>
	
	<div class="container my-3">
	<!-- Main Content Goes Here -->		
		<div class="container row">
			<div class="col-4 offset-md-2 reg-image">
				<img class="w-100 h-100" alt="city" th:src="@{/assets/images/registration-page.jpg}">
			</div>
			<div class="col-4 form-group reg-section py-3">
				<h3 class="text-center">Registration Page</h3>
				<form class="row gx-3 gy-3 mt-2" th:action="@{/register}" th:object="${user}" method="post">
				  <div class="col-md-6 form-floating">
				    <input type="text" class="form-control" placeholder="first name"
									 th:field="*{firstName}" id="firstName">
				    <label for="firstName">First Name</label> 
					</div>
				  <div class="col-md-6 form-floating">
				    <input type="text" class="form-control form-control-sm" placeholder="last name" 
				    			 th:field="*{lastName}" id="lastName">
				    <label for="lastName">Last Name</label>
				  </div>
				  <div class="col-12 form-floating">
				  	<input type="text" class="form-control form-control-sm" placeholder="username" 
				  				 th:field="*{username}" id="username">
				  	<label for="username">Username</label>
				  </div>
				  <div class="col-12 form-floating">
				  	<input type="email" class="form-control form-control-sm" placeholder="email" 
				  				 th:field="*{email}" id="email">
				  	<label for="email">Email</label>
				  </div>
				  <div class="col-12 form-floating">
				  	<input type="password" class="form-control form-control-sm" placeholder="password" 
				  				 th:field="*{password}" id="password">
				  	<label for="password">Password</label>
				  </div>
				  <div class="col-12 form-floating">
				  	<input type="password" class="form-control form-control-sm" placeholder="confirm password" 
				  				 th:field="*{matchingPassword}" id="matchingPassword">
				  	<label for="matchingPassword">Confirm Password</label>
				  </div>
				  <div class="col-12 form-floating">
				    <input type="text" class="form-control form-control-sm" placeholder="Address line 1"  
				    			 th:field="*{address.address1}" id="address1">
				    <label for="address1" >Address Line 1</label>
				  </div>
				  <div class="col-12 form-floating">
				    <input type="text" class="form-control form-control-sm" placeholder="Address line 2" 
				    			 th:field="*{address.address2}" id="inputAddress">
				    <label for="inputAddress">Address Line 2</label>
				  </div>
				  <div class="col-md-4 form-floating">
				    <input type="text" class="form-control form-control-sm" placeholder="city" 
				    			 th:field="*{address.city}" id="inputCity">
				    <label for="inputCity">City</label>
				  </div>
				  <div class="col-md-4 form-floating">
				    <select id="inputState" class="form-select form-select-sm"
				    				th:field="*{address.state}" >
				      <option selected
				      				th:value="AL">AL</option>
				      <option th:value="...">...</option>
				    </select>
				    <label for="inputState">State</label>
				  </div>
				  <div class="col-md-4 form-floating">
				    <input type="text" class="form-control form-control-sm" placeholder="zipcode" 
				    			 th:field="*{address.zipcode}" id="inputZip">
				    <label for="inputZip">Zip</label>
				  </div>
				  <div class="col-12 mt-4">
				    <button type="submit" class="btn btn-primary">Register</button>
				  </div>
				</form>
			</div>
		</div>
	</div>

	<script th:replace="~{partials/necessary :: bs-script}"></script>
	<script th:replace="~{partials/necessary :: jQuery}"></script>
	<script type="text/javascript" th:src="@{/js/registration.js}"></script>
</body>

</html>